section.Home_Footer
    .container
        .row.social
            .col
                p
                    a(href="#") Facebook
            .col
                p
                    a(href="#") Twitter
            .col
                p
                    a(href="#") Google+
            .col
                p
                    a(href="#") Linkedln
            .col
                p
                    a(href="#") Behance
            .col
                p
                    a(href="#") Dribble
            .col
                p
                    a(href="#") Github
           