section.Home_Footer
    .container
        .row.social.mt-3
            .col.lg.item
                p
                    a(href="#") Facebook
            .col.lg.item
                p
                    a(href="#") Twitter
            .col.lg.item
                p
                    a(href="#") Google+
            .col.lg.item
                p
                    a(href="#") Linkedln
            .col.lg.item
                p
                    a(href="#") Behance
            .col.lg.item
                p
                    a(href="#") Dribble
            .col.lg.item
                p
                    a(href="#") Github