section.Home_Header 
    nav.menu
        .container
            .row
                .col-md-5.mt-5
                    p
                        a(href="#")
                            img(src="/img/logo.png", alt="")
                .col-md-7.mt-5
                        ul.nav-wrap
                            li.text
                                a(href="#") HOME
                            li.text
                                a(href="#") ABOUT
                            li.text
                                a(href="#") WORK
                            li.text
                                a(href="#") BLOG
                            li.text
                                a(href="#") CONTACT
                     

                    
