header  
    nav
        .container
            .row
                .col-sm-3
                    p
                        a.logo(href="#")
                            img(src="logo.png", alt="")
                     

                    
