$tim: #87509c //Tím 
$ngoc: #17c2a4 // Cyan
$vang: #ffdd99 // Vang 
$do: #d74680 // Đỏ 
$xanh: #3c5499 // Xanh 
$cam: #EB7D4B // Cam

// Đây là phần Sliders
.Home_Sliders
    background: $tim
    min-height: 500px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    h1
        color: #ffffff
        font-size: 2.5rem
        letter-spacing: 1px
    .btn-more
        text-transform: uppercase
        font-size: 1.2rem
        background: $cam
        color: #ffffff
        padding: 20px 40px 
        margin: 50px 0px
        border: 1px solid $cam
        box-shadow: 0px 5px 0px #C86A40
// Đây là phần Services
.Home_Services
    background: $ngoc
    min-height: 650px
    // display: flex
    justify-content: center
    align-items: center
    text-align: center
    h2
        color: #ffffff
        text-transform: uppercase
        position: relative
        font-size: 3rem
        padding-bottom: 30px
        padding-top: 20px
        letter-spacing: 2px
        &:before,
        &:after
            content: ''
            display: block
            background: #485351             
            position: absolute
            left: 50%
            transform: translateX(-50%)
        &:before
            width: 80px
            height: 5px
            bottom: 8px
        &:after
            width: 20px
            height: 10px
            bottom: 6px

            
    p.slogun
        color: #ffffff
        font-size: 1.3rem
        padding-bottom: 20px
    .figure img
        padding-bottom: 50px
        padding-top: 20px
    h3 
        color: #ffffff
        padding-bottom: 20px
    p.branding
        color: #ffffff
   
.Home_Teamwork
    background: #E7F1F8
    min-height: 750px
    // display: flex
    justify-content: center
    align-items: center
    text-align: center
    h2
        color: #000000
        text-transform: uppercase
        position: relative
        font-size: 3rem
        padding-bottom: 30px
        padding-top: 20px
        letter-spacing: 2px
        &:before,
        &:after
            content: ''
            display: block
            background: #485351            
            position: absolute
            left: 50%
            transform: translateX(-50%)
        &:before
            width: 80px
            height: 5px
            bottom: 8px
        &:after
            width: 20px
            height: 10px
            bottom: 6px
    p.slogun
        color: #000000
        font-size: 1.3rem
        padding-top: 20px
        padding-bottom: 40px
    img
        border-radius: 50%
    p.product
        min-height: 100px
        font-size: 1.2rem
    i
        display: inline-block
        color: white
        border-radius: 50%
        background-color: lightgrey
        height: 35px
        width: 35px
        line-height: 30px
        margin: auto 5px
        font-size: 15px
        text-align: center
.Home_Skills
    background: #ffffff
    min-height: 750px
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    h2
        color: #000000
        text-transform: uppercase
        position: relative
        font-size: 3rem
        padding-bottom: 30px
        padding-top: 20px
        letter-spacing: 2px
        &:before,
        &:after
            content: ''
            display: block
            background: #485351            
            position: absolute
            left: 50%
            transform: translateX(-50%)
        &:before
            width: 80px
            height: 5px
            bottom: 8px
        &:after
            width: 20px
            height: 10px
            bottom: 6px
    p.slogun
        color: #000000
        font-size: 1.3rem
        padding-top: 20px
        padding-bottom: 40px
    .skill_item p
        font-weight: bolder
        text-transform: uppercase
        font-size: 1.5rem
        color: #3C4761
    .pink
        .bar
            border-color: #d74680
        .fill
            border-color: #d74680
    .cyan
        .bar
            border-color: #15c7a8
        .fill
            border-color: #15c7a8
.Home_Portfolio
    background: #FFDD99
    min-height: 900px
    // display: flex
    justify-content: center
    align-items: center
    text-align: center
    h2
        color: #000000
        text-transform: uppercase
        position: relative
        font-size: 3rem
        padding-bottom: 30px
        padding-top: 20px
        letter-spacing: 2px
        &:before,
        &:after
            content: ''
            display: block
            background: #485351            
            position: absolute
            left: 50%
            transform: translateX(-50%)
        &:before
            width: 80px
            height: 5px
            bottom: 8px
        &:after
            width: 20px
            height: 10px
            bottom: 6px
    p.slogun
        color: #000000
        font-size: 1.3rem
        padding-top: 20px
        padding-bottom: 20px
    .btn-more
        background: #EBC985
        width: 100px
        height: 45px
        margin: 8px
        color: #000000
        margin-bottom: 40px
        font-size: 1.2rem
        text-align: center
    .btn-more:hover
        background: #ffffff
        font-weight: bolder
    h3 
        padding-bottom: 20px
        font-size: 1.2rem
    .btn-light
        text-align: center
        justify-content: center
        align-items: center
    .sector 
        text-decoration: none
        color: #000000
    .sector:hover
        color: #D74680
    .btn-light
        text-transform: uppercase
        font-size: 1.2rem
        background: #17C2A4
        color: #ffffff
        padding: 20px 40px 
        margin-bottom: 50px
        border: 1px solid #17C2A4
        box-shadow: 0px 5px 0px #14A58C
    .btn-light:hover
            background: #14A58C
            color: #000000





      
   
