extends _layout/layout.pug
block main
	section.home-slider
		.container
			.row
				.col
					h1 gdgdfg dfgdfgdfgdf g
					p
						a.btn.btn-more(href="#") dsfjhdsfkj 
	section.home-services
		.container
			.row 
				.col 
					h2 dsfkjhsdf dsfsdfh h hkjhsfjk ds
					p jhjkh jhjk hdjkfhdsfkjhsdfjk dfjkdfksdhfjksh dk
			.row
				- for (var x = 1; x < 5; x++)
					.col-sm-6.col-md-3
						img(src="./img/home_icon_"+ x + ".png", alt="", srcset="")
						h3 jh jh  ksdjfh 
						p gg jhgjgjh gg kj
					
				