extends _layout/layout.pug
block main
	//- Đây là phần Sliders
	section.Home_Sliders
		.container
			.row
				.col
					h1 Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
					p
						a.btn.btn-more(href="#") work with us!
	//- Đây là phần Services
	section.Home_Services
		.container
			.row
				.col
					h2 services we provice
					p.slogun 	We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.row
				.col-sm-6.col-md-3
					figure.figure
						img(src="./img/home_icon_1.png", alt="BRANDING")
					h3 BRANDING
					p.branding Lorem ipsum dolor sit amet, consectetuer adipiscing alit, sed diam nonummy nibh.
				.col-sm-6.col-md-3
					figure.figure
						img(src="./img/home_icon_2.png", alt="DESIGN")
					h3 DESIGN
					p.branding Sed ut perpicaiatis unde omnis iste natus error sit voluptatem.
				.col-sm-3
					figure.figure
						img(src="./img/home_icon_3.png", alt="DEVELOPMENT")
					h3 DEVELOPMENT
					p.branding At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.
				.col-sm-6.col-md-3
					figure.figure
						img(src="./img/home_icon_4.png", alt="ROCKET SCIENCE")
					h3 ROCKET SCIENCE
					p.branding Et harum quidem rerum est et expedita distinctio. Nam libero tempore.
	//- Đây là phần Teamwork
	section.Home_Teamwork
		.container
			.row
				.col
					h2 meet our beautiful team
					p.slogun We are a small team of desigenr and devlopers, who help brands with big ideas.
			.row
				.col-sm-6.col-md-3
					figure.figure
						img(src="./img/home_mem_1.png", alt="member")
					h3 anne hataway
					p.sector
						a(href="#") CEO / Marketing Guru
					p.product Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
					a.detail(href="#")
						i.fab.fa-facebook-square
						i.fab.fa-twitter-square
						i.fab.fa-linkedin
						i.fas.fa-envelope
				.col-sm-6.col-md-3
					figure.figure
						img(src="./img/home_mem_1.png", alt="member")
					h3 kate upton
					p.sector
						a(href="#") Creative Director
					p.product Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.
					a.detail(href="#")
						i.fab.fa-facebook-square
						i.fab.fa-twitter-square
						i.fab.fa-linkedin
						i.fas.fa-envelope
				.col-sm-6.col-md-3
					figure.figure
						img(src="./img/home_mem_1.png", alt="member")
					h3 olivia wilde
					p.sector
						a(href="#") Lead Designer
					p.product Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.
					a.detail(href="#")
						i.fab.fa-facebook-square
						i.fab.fa-twitter-square
						i.fab.fa-linkedin
						i.fas.fa-envelope
				.col-sm-6.col-md-3
					figure.figure
						img(src="./img/home_mem_1.png", alt="member")
					h3 ashley greene
					p.sector
						a(href="#") SEO / Developer
					p.product Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
					a.detail(href="#")
						i.fab.fa-facebook-square
						i.fab.fa-twitter-square
						i.fab.fa-linkedin
						i.fas.fa-envelope
	section.Home_Skills
		.container
			.row
				.col
					h2 we got skills!
					p.slogun Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.row.mt-5
				.col-sm-6.col-md-3.skill_item
					.c100.p90.big.blue
						span 90%
						.slice
							.bar
							.fill
					p WEB DESIGN
				.col-sm-6.col-md-3.skill_item
					.c100.p75.big.pink
						span 75%
						.slice
							.bar
							.fill
					p WEB DESIGN
				.col-sm-6.col-md-3.skill_item
					.c100.p70.big.cyan
						span 70%
						.slice
							.bar
							.fill
					p WEB DESIGN
				.col-sm-6.col-md-3.skill_item
					.c100.p85.big.orange
						span 85%
						.slice
							.bar
							.fill
					p WEB DESIGN
	section.Home_Portfolio
		.container
			.row
				.col
					h2 our portfolio
					p.slogun Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam
			.row
				.col-sm-6.col-md-3
					figure.figure
						img(src="./img/Home_Us_IPM.png")
					h3 Isometric Perspective Mock-Up
			



				